*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Gothic A1", sans-serif;
    scroll-behavior: smooth;
}
.bg-hero{
width: 100%;
height: 100vh;
margin: 0 auto;
background-size: cover;
background: linear-gradient(
  -45deg,#450E4B,#3C0C41,#CF0063 
),#CF0063;
}
.container{
    width: 1240px;
    margin: 0 auto;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}
ul{
    display: flex;
    gap: 40px;
    align-items: center;
}
ul a{
    color: #FFFFFF;
}
.hero{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.hero-title h1{
    width: 430px;
    font-weight: 400;
    font-size: 80px;
    color: #FFFFFF;
}
.hero-title p{
    width: 677px;
    font-weight: 400;
    font-size: 30px;
    color: #FFFFFF;
    margin: 20px 0px;
}
.hero-title button{
    width: 170px;
    height: 60px;
    background-color: #FC0A7E;
    color: #FFFFFF;
    border-radius: 3px;
    border: none;
    cursor: pointer;
}
.hero-img img{
    width: 530px;
    padding-top: 20px;
}
.scroll{
    transform: translateY(-80px);
    text-align: center;
}
.bg-black{
    background-color: #1B1B1B;
    width: 100%;
    height: 100vh;
}
.content{
    width: 1240px;
    padding-top: 80px;
}
.content p{
    width: 228px;
    font-weight: 400;
    font-size: 15px;
    color: #A8A8A8;

}
.content h1{
    width: 600px;
    font-weight: 400;
    font-size: 35px;
    color: #FFFFFF;
    padding-top: 20px;
}
.content img{
    width: 779px;
}
.asosiy{
    width: 1245px;
    margin: 0 auto;
}
.cay{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 40px;
    margin: 70px;
}
.cay-title p{
    width: 173px;
    font-weight: 400;
    font-size: 12px;
    color: #A8A8A8;
    margin: 10px;
}
.cay-title h1{
    width: 300px;
    font-weight: 400;
    font-size: 38px;
    padding-top: 20px;
}
.cay-title p{
    width: 300px;
    font-weight: 400;
    font-size: 16px;
    color: #6B6B6B;
    padding-top: 20px;
}
.cay-img img{
    width: 400px;
}
.asosiy2{
    width: 1240px;
    margin: 0 auto;
    padding-top: 30px;
}
.order{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 50px;
}
.orders img{
    width: 380px;
}
.order-title p{
    width: 300px;
    font-weight: 400;
    font-size: 15px;
    color: #6B6B6B;
    padding-top: 20px;
}
.order-title h1{
    width: 214px;
    font-weight: 400;
    font-size: 38px;
    padding-top: 20px;
}
.asosiy3{
    width: 1240px;
    margin: 0 auto;
    padding-top: 30px;
}
.magna{
   display: flex;
   align-items: center;
   justify-content: space-around;
   margin: 50px;
}
.magna-title p{
    width: 300px;
    font-weight: 400;
    font-size: 15px;
    color: #6B6B6B;
    padding-top: 20px;
}
.magna-title h1{
    width: 290px;
    font-weight: 400;
    font-size: 38px;
    padding-top: 20px;
}
.magna-img img{
    width: 340px;
}
.asosiylar{
    display: flex;
    padding-top: 70px;
}
.asosiy4{
    width: 1290px;
    margin: 0 auto;
}
.activ{
width: 430px;
}
.activs img{
    width: 80px;
}
.activ-m h1{
    width: 180px;
    font-weight: 700;
    font-size: 18px;
    padding-top: 20px;
}
.activ-m p{
    width: 370px;
    font-weight: 400;
    font-size: 16px;
    color: #6B6B6B;
    padding-top: 20px;
}
.asosiy5{
    width: 1290px;
    margin: 0 auto;
}
.custom{
width: 430px;

}
.customs img{
    width: 70px;
}
.custom-m h1{
    width: 180px;
    font-weight: 700;
    font-size: 18px;
    padding-top: 20px;
}
.custom-m p{
    width: 370px;
    font-weight: 400;
    font-size: 16px;
    color: #6B6B6B;
    padding-top: 20px;
}
.asosiy6{
    width: 1290px;
    margin: 0 auto;
    
}
.mobile{
width: 430px;

}
.mobiles img{
    width: 50px;
    
}
.mobile-m h1{
    width: 180px;
    font-weight: 700;
    font-size: 18px;
    padding-top: 20px;
}
.mobile-m p{
    width: 370px;
    font-weight: 400;
    font-size: 16px;
    color: #6B6B6B;
    padding-top: 10px;
}
.quam{
    width: 1270px;
    display: flex;
    padding-top: 130px;
}
.nib{
    width: 324px;
    padding-top: 25px;
}
.nibs h1{
    width: 129px;
    font-weight: 400;
    font-size: 59px;
    color: #333333;
}
.nibs p{
    width: 163px;
    font-weight: 700;
    font-size: 18px;
    padding-top: 10px;
}
.aen{
    width: 324px;
    padding-top: 25px;
}
.aens h1{
    width: 66px;
    font-weight: 400;
    font-size: 59px;
    color: #333333;
}
.aens p{
    width: 193px;
    font-weight: 700;
    font-size: 18px;
    padding-top: 10px;
}
.incep{
    width: 324px;
    padding-top: 25px;
}
.inceps h1{
    width: 120px;
    font-weight: 400;
    font-size: 59px;
    color: #333333;
}
.inceps p{
    width: 129px;
    font-weight: 700;
    font-size: 18px;
    padding-top: 10px;
}
.corper{
    width: 324px;
    padding-top: 25px;
}
.corpers h1{
    width: 100px;
    font-weight: 400;
    font-size: 59px;
    color: #333333;
}
.corpers p{
    width: 106px;
    font-weight: 400;
    font-size: 18px;
    padding-top: 10px;
}
.sem{
    width: 1296px;
    padding-top: 130px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.risus p{
    width: 300px;
    font-weight: 700;
    font-size: 15px;
    color: #6B6B6B;
    padding-top: 20px;
}
.risus h1{
    width: 250px;
    font-weight: 400;
    font-size: 38px;
    padding-top: 20px;
}
.risurs img{
    width: 520px;
}
.tortol{
    width: 1296px;
    padding-top: 120px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.partur img{
  width: 520px;  
}
.parturs p{
    width: 300px;
    font-weight: 400;
    font-size: 15px;
    color: #6B6B6B;
    padding-top: 16px;
}
.parturs h1{
    width: 300px;
    font-weight: 400;
    font-size: 38px;
    padding-top: 16px;
}
.mark{
    width: 1296px;
    padding-top: 100px;
    text-align: center;
}
.marks img{
    width: 58px;
}
.marks p{
    width: 700px;
    font-weight: 400;
    font-size: 24px;
    color: #6B6B6B;
    padding-top: 30px;
}
.josh{
    width: 720px;
    margin: 0 auto;
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.josh p{
    width: 99px;
    font-weight: 400;
    font-size: 16px;
    color: #6B6B6B;
}
.josh h6{
    width: 132px;
    font-weight: 700;
    font-size: 16px;
    color: #6B6B6B;
}
.web{
    padding-top: 100px;
    text-align: center;
}
.web img{
    width: 1008px;
    height: 35px;
}
.sanders{
padding-top: 80px;
text-align: center;
}
.sanders img{
    width: 1240px;
}
.ready-bg{
    width: 100%;
    height: 50vh;
    background: 
    repeating-linear-gradient(
        45deg,
        rgba(255, 255, 255, 0.05) 0,
        rgba(255, 255, 255, 0.05) 2px,
        transparent 2px,
        transparent 6px
    ),
    linear-gradient(135deg, #9e004c, #7818ff);
}
.reads{
    text-align: center;
    justify-content: space-around;
}
.reads h1{
    padding-top: 90px;
    font-weight: 400;
    font-size: 38px;
    color: #FFFFFF;
}
.buttons{
    display: flex;
    gap: 10px;
    padding-top: 25px;
    padding-left: 440px;
}
.button1 button{
    width: 190px;
    height: 66px;
    font-weight: 400;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background-color: #FC0A7E;
    color: #FFFFFF;
}
.button2 button{
    width: 171px;
    height: 66px;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    border-radius: 1px;
    border: none;
    background-color: #a574eb;
}
.get{
    width: 1245px;
    height: 50vh;
    background-color: #1B1B1B;
}
.gets{
    text-align: center;
    padding-top: 100px;
}
.gets h1{
    font-weight: 400;
    font-size: 38px;
    color: #FFFFFF;
}
.gets p{
    font-weight: 400;
    font-size: 16px;
    color: #6B6B6B;
    padding-top: 10px;
}
.enter{
   padding-top: 30px;
}
input{
    width: 311px;
    height: 60px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: #FFFFFF;
    outline: none;
    text-indent: 20px;
}
form button{
   width: 154px;
   height: 60px;
   font-size: 16px;
   cursor: pointer;
   border: none;
   outline: none;
   color: #1C1C1C;
   transform: translate(-5px);
   background-color: #FC0A7E;
}
.end{
    width: 1245px;
    height: 40vh;
    text-align: center;
    background-color: #1B1B1B;
}
.ends img{
    width: 136px;
    padding-top: 60px;
}
menu{
   padding-top: 35px;
   padding-left: 240px;
}
 ul a{
    color: #6B6B6B;
 }